input[type="file"] {
    display: none;
}

.dragAndResizeTextBoxContainer {
    display: inline-block;
    position: absolute;
}

.dragAndResizeContainer {
    display: inline-block;
    position: absolute;
}

#slide {
    position:relative; /* Så der ikke kan resizes ud over containment area*/
    border: 1px solid black;
    width: 1122px; /* 2 pixels større pga. border så selve slide-indeholder har rigtige format*/
    height: 632px;
}

.textArea {
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    background: none;
    min-height: 120px;
    min-width: 300px;
    max-height: 630px;
    max-width: 1120px;
    z-index: 100;
    padding: 5px;
    font-size: 25px;
    overflow: hidden;
    height:100%;
    width:100%;
    resize:none;
    border:none;
}
.autosize {
    resize: none;
    overflow: hidden;
}

img {
    max-height: 630px;
    max-width: 1120px;
    height: inherit;
    width: inherit;
}

.ui-resizable-handle {
    border: 1px solid #000;
    background: #fff;
    width: 15px;
    height: 15px;
}

.ui-resizable-e {
    top: 48%;
    right: 0;
}

div:focus {
    opacity: 0.9;
}

.textArea:focus {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px dashed black;
}

/*Sørger for at placeholder bliver vist korrekt i textBox*/
/*
div[data-placeholder]:not(:focus):not([data-div-placeholder-content]):before {
    content: attr(data-placeholder);
    color: gray;
}
*/


.icon-delete{
    float: right;
    top: 15px;



}

.btn-dark:active {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}

.btn-used {
    color: #fff;
    background-color: #23272b;
    border-color: #1d2124;
}


div.dragAndResizeTextBoxContainer {
    padding:0;
    min-height: 100px;
    min-width: 300px;
}