input[type="file"] {
    display: none;
}

.dragAndResizeContainer {
    display: inline-block;
    position: absolute;
}

#slide {
    position:relative; /* Så der ikke kan resizes ud over containment area*/
    border: 1px solid black;
    width: 1123px; /* 3 pixels større pga. border så selve slide-indeholder har rigtige format*/
    height: 633px;
}

.textBoxDivSize {
    min-height: 65px;
    min-width: 200px;
    margin: 0;
    z-index: 100;
}

textarea {
    resize: none;
    max-height: 630px;
    max-width: 1120px;
    width: 100%;
    height: 100%;
    margin: 0;
}

img {
    max-height: 630px;
    max-width: 1120px;
    height: inherit;
    width: inherit;
    margin: 0;
}

.ui-resizable-handle {
    border: 1px solid #000;
    background: #fff;
    width: 15px;
    height: 15px;
}

.ui-resizable-se {
    right: -5px;
    bottom: -5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

img:focus{
    border: 1px dashed black;
}

div:focus{
    border: 1px dashed black;
}





