#sortable{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#sortable li{
    margin: 3px 3px 3px 3px;
    padding: 0.4em 0.4em 0.4em 0.4em;
    font-size: 1.1em;
    height: 45px;
}

#sortable li span{
    position: absolute;
    margin-left: -10.2rem;
    margin-top: 0.2rem;
}

.li-width{
    width: 400px;
}

.custom-checkbox{
    position: relative;
    float: left;
    left: 20px;
    top: 1px;
}

.custom-checkbox:hover {
    color: lightgrey;
}

.delete {
    position: relative;
    font-size: 30px;
    float: right;
    right: 10px;
    top: -9px;
}

.delete::after{
    display: inline-block;
    content: "\00d7"; /* This will render the 'X' */
}

a.delete {
    color: white;
}

a.delete:hover {
    color: lightgrey;
}