
body {
    overflow: hidden;
}

.fade-slide {
    position: absolute;
    transition: opacity 3s ease-in-out;
    /*border: 3px solid red;*/

}

.slide-el{
    position: absolute;
}



div.fade-slide + div.fade-slide { opacity: 0; }

