<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: header(title='Opret Slide')"></div>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="css/createSlide.css" />
    <!--<link href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="stylesheet">-->

</head>
<body>
    <!-- Navigation-->
<!-- TODO find ud af hvorfor der står hej HAHAHA -->
    <nav th:replace="fragments :: navbar(active='hej')"></nav>

<div>

    <section>

        <div class="container">
<!--TODO indsæt pattern så minimum 1 karakter-->

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text bg-dark text-white" id="titleInput">Titel</span>
                </div>
                <input id="inpTitle" type="text" class="form-control bg-light" aria-label="Default" aria-describedby="titleInput">
            </div>

            <br>

            <div class="slide-toolbar">
                <div class="btn-group mr-2">
                    <button id="btnTextBox" type="button" class="btn btn-dark">
                        <i class="bi bi-fonts"></i>
                    </button>
                    <div class="btn btn-dark" id="btnImage">
                        <label class="m-0 p-0" for="inpImage">
                            <i class="bi bi-image"></i>
                        </label>
                        <input type="file" class="d-none" accept="image/*" name="inpImage" id="inpImage" onchange="addImageToSlide(event)">
                    </div>
                    <div class="btn btn-dark">
                        <label class="m-0 p-0" for="inpVideo">
                            <i class="bi bi-film"></i>
                        </label>
                        <input type="file" class="d-none" accept="video/*" name="inpVideo" id="inpVideo" onchange="addVideoToSlide(event)">
                    </div>
                </div>

                <div class="btn-group mr-2">
                    <button id="btnBold" type="button" class="btn btn-dark">
                        <i class="bi bi-type-bold"></i>
                    </button>
                    <button id="btnItalic" type="button" class="btn btn-dark">
                        <i class="bi bi-type-italic"></i>
                    </button>
                    <button id="btnUnderline" type="button" class="btn btn-dark">
                        <i class="bi bi-type-underline"></i>
                    </button>
                    <select id="inpFontColor" class="btn btn-dark" onchange="changeFontColor(this);" aria-label="fontColorSelect">
                        <option value="black">Sort</option>
                        <option value="white">Hvid</option>
                        <option value="red">Rød</option>
                        <option value="green">Grøn</option>
                        <option value="blue">Blå</option>
                    </select>
                </div>



                <div class="btn-group mr-1">
                    <select id="inpFont" class="btn btn-dark" onchange="changeFontStyle(this);" aria-label="fontSelect">
                        <option value="Ariel" selected>Ariel</option>
                        <option value="Calibri">Calibri</option>
                        <option value="Helvetica">Helvetica</option>
                        <option value="Times New Roman">Times New Roman</option>
                    </select>
                    <select id="inpFontSize" class="btn btn-dark" onchange="changeFontSize(this);" aria-label="fontSizeSelect">
                        <option value="25" selected>25</option>
                        <option value="40">40</option>
                        <option value="55">55</option>
                        <option value="70">70</option>
                    </select>
                </div>

                <div class="btn-group mr-2">
                    <button id="btnMarginLeft" type="button" class="btn btn-dark">
                        <i class="bi bi-text-left"></i>
                    </button>
                    <button id="btnMarginCentre" type="button" class="btn btn-dark">
                        <i class="bi bi-text-center"></i>
                    </button>
                    <button id="btnMarginRight" type="button" class="btn btn-dark">
                        <i class="bi bi-text-right"></i>
                    </button>
                    <button id="btnList" type="button" class="btn btn-dark">
                        <i class="bi bi-list-ul"></i>
                    </button>
                </div>

                <div class="btn-group mr-2">

                    <button id="btnFullscreen" type="button" class="btn btn-dark">
                        <i class="bi bi-arrows-fullscreen"></i>
                    </button>

                </div>
                <div class="btn-group float-right">
                    <button id="btnSave" type="button" class="btn btn-dark">
                        Gem
                    </button>
                </div>
            </div>

            <!-- Ratio: 16/9 -->

            <div class="mt-2" id="slide">
            </div>

        </div>
    </section>
</div>


<!-- Footer-->
<footer class="py-5 bg-black">
    <div class="container"><p class="m-0 text-center text-white small">Copyright &copy; Inflowscreen 2021</p></div>
</footer>

<!-- Bootstrap core JS-->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/createSlide.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</body>
</html>
