<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: header(title='Slideshow')"></div>
    <link rel="stylesheet" type="text/css" href="/css/slideshow.css" />


</head>
<body id="slide" style="height: 100vh">
<h1>Se lige et fantastisk slideshow! Like wooooow</h1>
<!-- https://codepen.io/danielguillan/pen/duiAq -->

<img class="fade-slide" src="/images/slides/Blomst.jpg" alt="blomst">
<img class="fade-slide" src="/images/slides/corgi.JPG" alt="corgi">
<img class="fade-slide" src="/images/slides/HEJ.JPG" alt="hej">

<footer>
    <div th:replace="fragments :: slideshowFooter"></div>
</footer>

<script th:inline="javascript"> const orgId = [[${orgId}]];</script>
<script type="text/javascript" th:src="@{/js/slideshow.js}"></script>

</body>
</html>
