<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments :: header(title='Slideshow')"></div>
</head>
<body>
<h1>Se lige et fantastisk slideshow! Like wooooow</h1>
<!-- https://codepen.io/danielguillan/pen/duiAq -->

<img class="fadeimage" src="/slideImages/slides/Blomst.jpg" alt="blomst">
<img class="fadeimage" src="/slideImages/slides/corgi.JPG" alt="corgi">
<img class="fadeimage" src="/slideImages/slides/HEJ.JPG" alt="hej">

<footer>
<div th:replace="fragments :: slideshowFooter"></div>
</footer>

<script src="/js/slideshow.js"></script>
</body>
</html>
